@import "tailwindcss";

body {
    transition: 0.3s !important;
}

/* animation effects */
@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes title-pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.animate-spin-slow {
    animation: spin-slow 6s linear infinite;
}

.animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
}

.animate-title-pop {
    animation: title-pop 0.8s ease-out;
}

@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes title-pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
}

.animate-title-pop {
    animation: title-pop 0.8s ease-out;
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}